body{
    margin: 20px;
    
}
#card{
    background-color: aquamarine;
    border-radius: 25px;
    padding: 5px;
    border: 2px solid;
    display:flex;
    justify-content: center;
    height: 200px;
    width: 500px
    

}
#profile_picture{
    /* background-color: blueviolet; */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right:5px;
    
    
}
#details{
    /* background-color: brown; */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right:5px;
    font-size: 25px;
    /* text-align: center; */
}
#name{
    /* background-color: azure; */
    margin-top: 30px;
    margin-bottom: 20px;
}
#designation{
    /* background-color: blue; */
    margin-top: 20px;
    margin-bottom: 20px;
}
#company{
    /* background-color: green; */
    margin-top: 20px;
    margin-bottom: 30px;
}
#red_circle{
    height: 300px;
    width: 300px;
    border-radius: 100%;
    background: #BC002D;


    margin-top: 40px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 100px;
}